@import "./../../assets/colors";

.header-container {
  .header {
    background: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    h1 {
      color: $white;
      font-size: 16px;
    }
  }
  .btn {
    &--admin {
      background: $btnAdmin;

      &:hover {
        background: $btnAdminHover;
      }
    }
  }
}
