$white: white;
$black: #000000;
$appBackground: #fcffa1;
$btn: #607d8b;
$btnHover: #546e7a;
$btnAdmin: #ff5722;
$btnAdminHover: #f4511e;
$sliderBg: #4fc3f7;
$articlesBg: #ab47bc;
$grey: grey;
